* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 255, 129);
}

header {
  background-color: #fff56c;
}

img {
  width: 100%;
  height: auto;
}

.imgontop {
  text-align: center;
}

.imgontop .image {
  width: 15%;
  height: auto;
  margin: 10px 0 10px 0;
}

.navbar {
  background-color: #7b3b09;
  box-shadow: 0px 5px 10px #55480d;
}

.navbar ul {
  justify-content:end;
  display: flex;
}

.navbar li {
  padding: 20px;
  list-style: none;
}

.navbar li a {
  color: #ffdf4f;
  text-decoration: none;
}

.navbar li a:hover {
  color: #fbff18;
}

.content {
  padding: 40px 20px 20px 20px;
}

.main-title {
  color: #7b3b09;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.subtitle {
  color: #7b3b09;
  font-size: 1.5rem;
  margin-bottom: 0.6%;
}

.text {
  color: #7b3b09;
  font-size: 1.2rem;
  width: 700px;
}

section ul {
  padding: 0 0 0 20px;
}

.main-title2 {
  color: #7b3b09;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.imagehow {
  width: 30%;
  margin: 40px;
  display: inline-block;
  vertical-align: top;
}

.imagepq {
  border-radius: 26px;
}

.list1 {
  display: inline-block;
  margin-top: 90px;
}

.imagepq2 {
  border-radius: 26px;
}

.list2 {
  display: inline-block;
  margin-top: 80px;
}

.imageauthor {
  width: 40%;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.author {
  border-radius: 26px;
}

.subtitle2 {
  color: #7b3b09;
  font-size: 5rem;
  width: 500px;
  margin-top: 40px;
}

.list2 .subtitle2 {
  margin-left: 80px;
}

section {
  margin-bottom: 50px;
}

#footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #7b3b09;
  box-shadow: 0px 5px 10px #55480d;
}

footer a {
  margin: 10px;
  text-align: center;
}

footer a:hover {
  color: #fbff18;
}

footer img {
  width: 30px;
  height: 40px;
}