* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.imgontop {
    text-align: center;
    background-color: rgb(255, 248, 173);
}

.imgontop img {
    margin-top: 10px;
    width: 15%;
    height: auto;
}

header {
    background-color: black;
    font-size: 20px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: rgb(255, 248, 173);
}

header {
    margin-top: -7px;
}


.h2-title {
    margin: 20px;
}

.p-text {
    margin: 20px;
}

section {
    height: 35vh;
}

.footer {
    padding: 20px;
    background-color: black;
}

.footer h2 {
    color: white;
}

.footer h3 {
    color: white;
}

